:root {
  --primary-font: "Roboto";
  --aditionary-font: "Raleway";
  --color-navy-blue: #2e2f42;
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-cloud: #f4f4fd;
  --color-slate: #434455;
  --color-white: #ffffff;
  --color-cornflower: #e7e9fc;
  --color-green: #31d0aa;
  --color-light-slate: #8e8f99;
  --color-grey: #2e2f42;
  --color-dairy: #fcfcfc;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primary-font), sans-serif;
  color: var(--color-slate);
  background-color: var(--color-white);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-transform: none;
}

.link {
  text-decoration: none;
}
a {
  font-style: normal;
}

.header {
  background-color: var(--color-white);
}

.logo {
  color: var(--color-iris);
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.web {
  color: var(--color-navy-blue);
}
.list {
  list-style: none;
}
.header-nav-link {
  color: var(--color-navy-blue);
  font-family: var(--primary-font), sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--color-ocean);
}

.address {
  font-style: normal;
}

.list-contacts {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  list-style: none;
}
.contact {
  color: var(--color-slate);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact:hover,
.contact:focus {
  color: var(--color-ocean);
}

.hero {
  background-color: var(--color-navy-blue);
}

.order-button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  background: var(--color-iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--color-white);
  cursor: pointer;
}

.order-button:hover {
  background: var(--color-ocean);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.order-button:focus {
  background: var(--color-ocean);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hide {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

h1,
h2,
h3 {
  margin: 0;
}

.main-title {
  font-family: var(--primary-font), sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--color-white);
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-navy-blue);
  background: var(--color-iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--color-navy-blue);
}

.section-title {
  font-size: 36px;
  line-height: 1.12;
  letter-spacing: 0.03em;
}

.third-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-family: var(--color-navy-blue);
}

.description-paragraph {
  font-family: var(--primary-font), sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-slate);
}

.job-title {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--color-slate);
}

.description {
  color: var(--color-slate);
}
.button-portfolio {
  font-family: var(--primary-font), sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-navy-blue);
  background: var(--color-white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-portfolio:hover {
  background-color: var(--color-iris);
  color: var(--color-navy-blue);
}

.hide-gallery {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.gallery-header {
  color: var(--color-navy-blue);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery-paragraph {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--color-slate);
}

.footer {
  background-color: var(--color-navy-blue);
}

.footer-link,
.footer-paragraph {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 5;
  letter-spacing: 0.02em;
  color: var(--color-cloud);
}

.footer-link {
  color: var(--color-navy-blue);
  text-decoration: none;
  font-family: var(--primary-font), sans-serif;
}

.web-footer {
  color: var(--color-cloud);
}

/* Index html styles */

.section-solutions {
  background-color: var(--color-navy-blue);
}
.h-solutions {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-white);
}
.solution-button {
  background-color: var(--color-iris);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  cursor: pointer;
}
.solution-button:hover,
.solution-button:focus {
  background-color: var(--color-ocean);
}

.h-slovo {
  visibility: hidden;
}

.hthree-slovo {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.p-slovo {
  font-size: 16px;
}
.what-are-we-heading {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-navy-blue);
}

.our-team-section {
  background-color: #f4f4fd;
}

.our-team-list-item {
  background-color: var(--color-white);
}
