:root {
  --primary-font: "Roboto";
  --aditionary-font: "Raleway";
  --navy-blue: #2e2f42;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --slate: #434455;
  --white: #ffffff;
  --cornflower: #e7e9fc;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primary-font), sans-serif;
  color: var(--slate);
  background-color: var(--white);
}
.link {
  text-decoration: none;
}
a {
  font-style: normal;
}

.header {
  background-color: var(--white);
}

.logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.web {
  color: var(--navy-blue);
}
.list {
  list-style: none;
}
.header-nav-link {
  color: var(--navy-blue);
  font-family: var(--primary-font), sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--ocean);
}

.address {
  font-style: normal;
}

.contact {
  color: var(--slate);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact:hover,
.contact:focus {
  color: var(--ocean);
}

.hero {
  background-color: var(--white);
}

.hide {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

h1,
h2,
h3 {
  margin: 0;
}

.main-title {
  font-family: var(--primary-font), sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--navy-blue);
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--navy-blue);
  background: var(--iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--navy-blue);
}

.section-title {
  font-size: 36px;
  line-height: 1.12;
  letter-spacing: 0.03em;
}

.third-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-family: var(--navy-blue);
}

.description-paragraph {
  font-family: var(--primary-font), sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--slate);
}

.job-title {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--slate);
}

.description {
  color: var(--slate);
}
.button-portfolio {
  font-family: var(--primary-font), sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--navy-blue);
  background: var(--white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-portfolio:hover {
  background-color: var(--iris);
  color: var(--navy-blue);
}

.hide-gallery {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.gallery-header {
  color: var(--navy-blue);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery-paragraph {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--slate);
}

footer {
  background-color: var(--navy-blue);
}

.footer-link,
.footer-paragraph {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 5;
  letter-spacing: 0.02em;
  color: --cloud;
}

.footer-link {
  color: var(--navy-blue);
  text-decoration: none;
  font-family: var(--primary-font), sans-serif;
}

.logo-footer {
  color: var(--iris);
  font-family: var(--additional-font), sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.web-footer {
  color: var(--iris);
}
